.tipo-input {
  display: flex;
  width: 100%;
  border-radius: .5rem;
  background-color: var(--input-base);
  border: 2px solid var(--input-stroke);
  font: var(--body-md);
  color: var(--input-placeholder);
}

.radio-input {
  display: none;
}

.opcao {
  width: 130px;
  height: 45.6px;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 4px 4px 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.opcao:hover {
  background-color: var(--shape-hover);

}

.radio-input:checked+label {
  background-color: var(--shape-button);
}


/* Estilos para os ícones */
.icone-presencial::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/assets/icons/building-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-top: 5px;
}

.icone-online::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/assets/icons/video.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-top: 5px;
}


label[for="presencial"]:hover .icone-presencial::before {
  background-image: url(/assets/icons/building-2-hover.svg);
}

input[type="radio"]#presencial:checked+label .icone-presencial::before {
  background-image: url(/assets/icons/building-2-hover.svg);
}


label[for="online"]:hover .icone-online::before {
  background-image: url(/assets/icons/video-hover.svg);
}

input[type="radio"]#online:checked+label .icone-online::before {
  background-image: url(/assets/icons/video-hover.svg);
}

.colors-wrapper {
  gap: 12px;

  & input {
    width: 40px;
    height: 40px;
    border: 5px solid var(--shape-button);
    border-radius: 50%;
    text-align: center;

  }

  & input[id="colors1"] {
    background-color: var(--purple);
  }

  & input[id="colors2"] {
    background-color: var(--fuschia);
  }

  & input[id="colors3"] {
    background-color: var(--pink);
  }

  & input[id="colors4"] {
    background-color: var(--danger);
  }

  & input[id="colors5"] {
    background-color: var(--orange);
  }

  & input[id="colors6"] {
    background-color: var(--yellow);
  }

  & input[id="colors7"] {
    background-color: var(--lime);
  }

  & input[id="colors8"] {
    background-color: var(--green);
  }

  & input[id="colors9"] {
    background-color: var(--cyan);
  }

  & input[id="colors10"] {
    background-color: var(--brand-light);
  }

  & input[id="colors11"] {
    background-color: var(--navy);
  }




  input:hover {
    border: 5px solid var(--shape-hover);
  }

  input:checked {
    outline: 2px solid var(--brand-light);
  }
}


.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  /* Auto-fit, não importa quantas colunas vao ter, após isso, informa o minimo e o máximo de tamanho que podem ter  */
  gap: .5rem;
}

.radio-inner {
  background-color: var(--shape-button);
  border-radius: .5rem;
  justify-items: center;

  height: 6.25rem;

  gap: .5rem;
  padding: .2rem .2rem;

  position: relative;

  & input,
  & input:focus,
  & input:hover {
    /* Desta maneira retira todas as informaçoes do input */
    all: unset;
    position: absolute;
    inset: 0;
  }


  &:hover,
  &:focus-within {
    border: 2px solid var(--brand-light);

  }

  &:has(:checked) {
    /* Quando ele tem algo do tipo checked, exemplo clicado  */
    border: 2px solid var(--brand-light);

  }

 & label {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-heading);
 }

  & img {
    border-radius: .2rem;
  }

}