@import url(/styles/fields/index.css);

fieldset {
  border: none;

  display: grid;
  gap: 1.5rem;
}

legend {
  font: var(--heading);
  color: var(--text-heading);
  margin-bottom: 0.75rem;
}

.legend-image{
  width: 24px;
  height: 24px;
  color: var(--input-placeholder);
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

fieldset + fieldset {  /* fieldset anterior a outro */
  margin-top: 3rem;
}

.event-info {
  margin-top: 2.5rem;
 }

 .event-info .flex1{
  gap: 1.25rem;
 }

 