#app {
  display: grid;
  grid-template-columns: 33% 67%;
  overflow: hidden;
}


main {
  background-color: var(--shape-body);
  width: 52rem;
  overflow: auto;
  border-radius: 1rem;
 
  margin: 5rem 1.56rem;

  & .main-container {
    width: 35rem;
    justify-items: stard;
    margin-top: 5rem;
    margin-left: 8.125rem;
    
    & h1 {
      font: var(--heading-md);
      color: var(--text-heading) ;
    }
  }
}

aside {
  background-image: url(/assets/Background.png);
  background-size: cover;

  width: 25rem;
  height: 45.5rem;


  border-radius: 1rem;
  margin-left: auto;

  & .aside-container {
    max-width: 21rem;
    padding: 2rem 2rem 2rem 2rem;

    & h1 {
      font: var(--logo);
      color: var(--pink);
    }

    & p {
      font: var(--body-md);
      color: var(--text-heading);
      width: 21rem;
    }

    & img {
      width: 2.87rem;
      height: 3rem;
    }
  }
}
